@import "tailwindcss";

:root {
	font-family: var(--font-body);
	color: var(--color-ink);
}

/* COLORS */
@theme {
	/* Paper & Surface */
	--color-paper: #fbf9f4;
	--color-paper-md: #faf4e8;
	--color-paper-md-dark: #dcd6cb;
	--color-divider: #eae6df;
	--color-ink: #2c2a29;
	--color-charcoal: #1c1c1c;
	--color-kraft: #d2b48c;
	--color-tracing: rgba(255, 255, 255, 0.4);

	/* Desks (Backgrounds) */
	--color-desk-birch: #c4a882;
	--color-desk-cork: #b8956b;
	--color-desk-oak: #8b7355;
	--color-desk-slate: #6b6b6b;
	--color-desk-grey: #ebedee;
	--color-desk-white: #f7f7f7;

	/* Graphite (Text & Borders) */
	--color-graphite-2b: #4a4a4a;
	--color-graphite-hb: #767676;
	--color-graphite-guide: #d9d9d9;

	/* Fountain Pen Inks (Action Colors) */
	--color-pen-shinkai: #3a506b;
	--color-pen-tsutsuji: #e05a87;
	--color-pen-kujaku: #008080;

	/* Structure/Grids */
	--color-dot-grey: #e2e0ec;
	--color-dot-blue: #e0eae9;
	--color-margin: #f0a59e;
	--color-lines: #e8e5e0;
	--color-grid: #e8e5e0;

	/* Campus Dot B Ruled (placeholder - eyedrop from real notebook later) */
	--color-campus-line: #c8d4dc;
	--color-campus-dot: #c4d1d9;

	/* Mildliner Accents */
	/* --color-mild-pink: #fcb9c2;
	--color-mild-blue: #a0cfe4;
	--color-mild-yellow: #fff4a3;
	--color-mild-green: #b9dc9a;
	--color-mild-grey: #d0cfcd; */

	--color-mild-pink: #fcb9c2; /* Natural - Dusty Pink */
	--color-mild-blue: #a1d7e1; /* Gentle - Soda Blue */
	--color-mild-yellow: #f2ee8e; /* Gentle - Sherbet Yellow */
	--color-mild-green: #b0d492; /* Cool and Refined - Green */
	--color-mild-grey: #bdc7c4; /* Cool and Refined - Grey */
}

/* FONTS */
@theme {
	--font-heading: var(--font-heading);
	--font-serif: var(--font-instrument-serif);
	--font-body: var(--font-work-sans);
	--font-mono: var(--font-fira-code);
}

@utility scrollbar-hidden {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
